.ui-date-picker {
  width: 240px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: serif, cursive, fantasy;
}

.ui-date-picker > .header {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #CA2B2B;
  color: #fff;
}

.ui-date-picker .caret-left {
  display: block;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  border-right: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  width: 0;
  height: 0;
  cursor: pointer;
}

.ui-date-picker .caret-right {
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 7px;
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  width: 0;
  height: 0;
  cursor: pointer;
}

.ui-date-picker .panel {
  width: 100%;
  text-align: center;
}

.ui-date-pciker .panel th {
  line-height: 2;
}

.ui-date-picker .panel td {
  line-height: 1.2;
}

.ui-date-picker .pre-month,
.ui-date-picker .next-month {
  color: #eee;
}

.ui-date-picker .cur-month {
  cursor: pointer;
}

.ui-date-picker .cur-month:hover {
  background-color: #cccccc;
  color: #fff;
}

.ui-date-picker .cur-date {
  color: #CA2B2B;
}